/* Fonts */
@font-face {
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Share Tech Mono'), local('ShareTechMono-Regular'), url('../fonts/ShareTechMono.woff') format('woff');
}


/* General Styles */
* {
    margin: 0;
    outline: none;
    padding: 0;
}

::selection {
	background: rgba(0,0,0,0);
}

body, input, button {
    color: white;
    color: rgba(255, 255, 255, .85);
    font-family: 'Share Tech Mono';
    font-size: 16px;
    text-shadow: .1em .1em rgba(50, 50, 50, .7);
    text-transform: lowercase;
}
body {
    background: #06737F;
    overflow: hidden;
}

h1 {
    font-size: 6em;
    height: 110px;
    left: 50%;
    margin: -55px 0 0 -300px;
    position: absolute;
    text-align: center;
    text-shadow: .05em .05em rgba(50, 50, 50, .7);
    top: 25%;
    width: 600px;
}

h2 {
    font-size: 3em;
}

.hint {
    background: red no-repeat 8px center;
    box-shadow: 0 0 .4em #333;
    cursor: pointer;
    max-width: 245px;
    opacity: .95;
    padding: 8px;
    position: absolute;
    z-index: 9999;
}
.hint#mediaallow {
    background-image: url('../images/camera.png');
    padding-left: 72px;
    right: 34px;
    top: 20px;
}
.hint .pointer {
    background: red;
    border-radius: 6px;
    height: 12px;
    position: absolute;
    right: 20px;
    top: -6px;
    width: 12px;
}

#loader, #message, #newsession, #start {
    background: red;
    height: 30px;
    left: 50%;
    line-height: 30px;
    margin: -25px 0 0 -155px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 290px;
}
#loader {
    background: #20515B;
    border-radius: 6px;
    font-size: 1.5em;
    height: 30px;
    line-height: 20px;
    margin: -15px 0 0 -45px;
    padding: 0;
    width: 90px;
    z-index: 9999;
}

#newsession {
    background: none;
    cursor: pointer;
    margin-top: 42px;
}

#start {
    cursor: pointer;
    font-size: 1.5em;
    margin-left: -75px;
    width: 130px;
}

#turn {
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 50%;
    width: 30px;
    z-index: 9999;
}
#turn > * {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
#turn .background.left {
    border-radius: 6px 0 0 6px;
    right: 50%;
}
.theirgo #turn .background.left {
    background: none !important;
}
#turn .background.right {
    border-radius: 0 6px 6px 0;
    left: 50%;
}
#turn .pointer {
    background: url('../images/turn.png') no-repeat center;
    transition: all .3s;
    z-index: 9999;
}
.theirgo #turn .pointer {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}


/* Invite Screen */
#invite {
    height: 190px;
    margin-top: -95px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
#invite > * {
    margin: 0 15%;
}
#invite h2 ~ * {
    margin-top: 2em;
}

#invitelink > * {
    padding: 1em;
}
#invitelink button {
    background: rgba(0, 0, 0, .4);
    border: none;
    border-radius: 0 .5em .5em 0;
    cursor: pointer;
    float: right;
}
#invitelink p {
    background: rgba(0, 0, 0, .2);
    border-radius: .5em 0 0 .5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#invitelink + .zclip {
    margin: 0 !important;
}


/* Board Styles */
.board {
    bottom: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 50%;
}

.board .grid {
    height: 433px;
    left: 50%;
    margin: -135px 0 0 -216px;
    position: absolute;
    top: 50%;
    width: 433px;
}

.board .grid .row {
    line-height: 0;
}

.board .grid .row .block {
    border-left: 1px dashed #9AE2E2;
    border-top: 1px dashed #9AE2E2;
    display: inline-block;
    height: 42px;
    width: 42px;
}
.board .grid .row .block:last-child {
    border-right: 1px dashed #9AE2E2;
}
.board .grid .row:last-child .block {
    border-bottom: 1px dashed #9AE2E2;
}

.board .instructions {
    height: 87px;
    left: 377px;
    overflow: auto;
    padding: 6px 12px;
    position: absolute;
    right: 0;
    top: 0;
}
.board .instructions h2 {
    font-size: 2em;
}
.board .instructions ul li {
    list-style: inside square;
    margin-top: .3em;
}

.board .overview, .board .plotting {
    height: 164px;
    margin-top: -2px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
.board .overview > *, .board .plotting > * {
    margin: 0 15%;
}
.board .overview h2 {
    font-size: 4em;
}
.board .overview h2 ~ * {
    margin-top: 1em;
}

.board .plotting h2 ~ * {
    margin-top: 2em;
}

.board #playagain, .board #ready {
    background: red;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5em;
    height: 30px;
    line-height: 30px;
    padding: 10px;
}
.board #playagain {
    box-shadow: 0 0 .2em #444;
}

.board #ready {
    display: block;
    left: 389px;
    position: absolute;
    top: 105px;
    transition: all .3s;
}
.board #ready.disabled {
    background: grey;
    cursor: default;
    opacity: .8;
}

.board .score, .board .video {
    background: rgba(255, 255, 255, .2);
}
.board .score {
    border-right: 4px solid #0B0;
    float: left;
    font-size: 6em;
    height: 161px;
    line-height: 138px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 161px;
}
.board .score:hover span.title {
    opacity: .8;
}
.board .score span.title {
    font-size: .15em;
    left: 6px;
    line-height: 1em;
    opacity: 0;
    position: absolute;
    top: 6px;
    transition: all .3s;
}

.board .shipcount {
    bottom: 22px;
    font-size: .15em;
    height: 20px;
    left: 0;
    line-height: 20px;
    opacity: .7;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
}
.board .shipcount > * {
    display: inline;
}
.board .shipcount figure {
    margin-left: 3px;
}

.board .video {
    float: left;
    overflow: hidden;
    padding: 6px;
    width: 200px;
}
.board .video video {
    background: #666 url('../images/no-video.png') no-repeat center;
    box-shadow: inset 0 0 40px #333;
    float: right;
    height: 149px;
    width: 200px;
}

/* Remote Board */
#remote.board, .theirgo #local.board, #turn .background.left, .theirgo #turn .background.right {
    background: rgba(0, 0, 0, .1);
}
#remote.board {
    left: auto;
    right: 0;
}

#remote.board .overview {
    height: 80px;
    margin-top: 40px;
}

#remote.board .score, #remote.board .video {
    float: right;
}
#remote.board .score {
    border-left: 4px solid #D00;
    border-right: 0;
}

.theirgo #remote.board {
    background: none;
}

/* Ships */
.board .grid .row .block.highlight, .board .grid .row .block.ship, .board .grid .row .block.reveal {
    background: rgba(0, 0, 0, .2);
    cursor: pointer;
}
.board .grid .row .block.highlight.ship {
    background: rgba(255, 0, 0, .4);
}

/* Missiles */
.board .grid .row .block.aim, .board .grid .row .block.shot {
    background: rgba(0, 0, 0, .1) url('../images/aim.png') no-repeat center;
    background-size: 75% 75%;
    cursor: pointer;
}
.board .grid .row .block.miss {
    background: rgba(255, 255, 255, .2);
    cursor: default;
}
.board .grid .row .block.hit {
    background: rgba(255, 0, 0, .4);
    cursor: default;
}