/* Fonts */
@font-face {
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('http://themes.googleusercontent.com/static/fonts/sharetechmono/v1/RQxK-3RA0Lnf3gnnnNrAsaH0X__W3S3MJL29bc5CWfs.woff') format('woff');
}

/* Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    background: #06737F;
    color: #FFF;
    color: rgba(255, 255, 255, .85);
    font-family: 'Share Tech Mono';
    font-size: 16px;
    text-shadow: 1px 1px rgba(50, 50, 50, .7);
}

h1 {
    color: #FFF;
    font-size: 2em;
}

#javascript {
    display: none;
}
.js #javascript {
    display: block;
}

#message {
    background: red;
    height: 58px;
    left: 50%;
    margin: -34px 0 0 -180px;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 360px;
}
.js #message {
    display: none;
}